.cover__link {
  width: 198px;
  height: 48px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-family: "Inter-SemiBold";
  font-size: 18px;
  line-height: normal;
  box-sizing: border-box;
  padding-top: 12px;
  text-align: center;
  text-decoration: none;
  background-color: #0278fe;
}
.cover__link:hover {
  opacity: 0.8;
}
