.place__content {
  width: 100%;
  height: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
}
  @media screen and (min-width:1280px) {
    .place__content {
    max-width: 100%;
    }
  }
  @media screen and (max-width: 720px) {
    .place__content{
    grid-column: 1/2;
    grid-row: 4 / span 1;
    font-size: 16px;
    width: 100%;
    }
}



