.intro {
margin: 92px 130px;
}
@media screen and (max-width: 1070px) {
  .intro {
    margin: 92px 90px;
  }
}
  @media screen and (max-width: 850px) {
  .intro {
      margin-left: 3%;
      margin-right: 3%;
    }
  }
 @media screen and (max-width: 768px) {
    .intro {
      margin: 92px 24px;
    }
  }
  @media screen and (max-width: 348px) {
    .intro {
      margin: 42px 12px;
    }
}