.place__link{
  grid-column: 1/2;
  grid-row: 2/3;
  max-width: 315px;
  height: 48px;
  border-radius: 4px 4px 4px 4px;
  background-color: #0278fe;
  color: aliceblue;
  font-family: "Inter-Italic";
  margin-top: 508px;
  box-sizing: border-box;
  padding-top: 12px;
  text-align: center;
  text-decoration: none;
  padding-left: 4px;
  padding-right: 4px;
}
.place__link:hover {
  opacity: 0.8;
}
  @media screen and (max-width: 768px) {
    .place__link {
      margin-top: 370px;
    }
}
 @media screen and (max-width: 720px) {
    .place__link {
      grid-column: 1/2;
      grid-row: 5 / span 1;
      margin-top: 0px;
      margin: 0 auto;
      padding-left: 4px;
  padding-right: 4px;
    }
  }
